html, body {
  height: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.avatarSize {
  width: 286px;
  height: 429px;
}

.cardCorrect {
  margin-bottom: -20px;
}

.bg-color {
  background-color: #b0ac94 !important;
}


.header-color {
  background-color: #49483d !important; 
}


@font-face {
  font-family: "mulan";
  src: url('../fonts/Mulan.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


.mulan {
  font-family: "mulan";
}


@media (max-width: 576px) { 
  .entered {
    transform: translateX(1.90%);
  }
}


.formFontSize {
  font-size: 30px;
}

/*removed that wierd white fields*/
.form-control {
    background: transparent !important;   /* removes white background */
    border: none !important;              /* removes all borders */
    border-bottom: 2px solid black !important; /* bottom line only */
    border-radius: 0 !important;          /* no rounded corners */
    box-shadow: none !important;          /* remove bootstrap shadow */
    color: black !important;              /* text color */
    font-size: 1.1rem;
    padding-left: 0;                      /* optional — cleaner look */
}

/* focus animation */
.form-control:focus {
    border-bottom: 2px solid #111 !important;  /* darker when focused */
    box-shadow: none !important;
    outline: none !important;
}
